.main {
    width: 100%;
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.subheading-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.subheading-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #294A70;
    font-size: 55px;
    font-weight: 450;
    margin-left: 5%;
}

.breadcrumb {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #294A70;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 4%;
}


hr {
    height: 1px;
    background-color: #294A70;
    width: 90%;
    margin: 0 auto;

}
